.card{
    border-radius: 12px;
    background-color: #303030;
    color: #ffff;

    padding: 18px 28px;
}

.card button{
    padding: 8px 8px;
    border-radius: 12px;
}

.card .switchButton{
    background-color: #eaeaea;
    color: #303030;
}

.typeBox {
    padding: 10px 12px;
    border-radius: 12px;

    background-color: #424242;
}