.bubble {
    border-radius: 12px 12px 12px 0px;
    background-color: #303030;
    color: #fff;
    padding: 18px 28px;
    position: relative;

    font-size: 2rem;
}

.bubble::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #303030;
}
